<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">EZH</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav mr-auto">

                {% if user.type_user == 2 %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'journal:my_schedule' %}">Мое расписание</a>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'journal:marks' %}">Оценки</a>
                </li>
                {% endif %}
                {% if user.type_user == 1 %}
                <li class="nav-item">
                    <a class="nav-link"  href="{% url 'journal:my_schedule' %}">Мое расписание</a>
                </li>
                {% endif %}
                
            </ul>
            <form class="form-inline my-2 my-lg-0">
                {% if user.type_user != 3 and user.type_user != 2 and user.type_user != 1 %}
                <a class="btn btn-outline-dark mr-sm-2" href="/login">Вход</a>
                <a class="btn btn-dark mr-sm-2" href="/registration">Регистрация</a>
                {% else %}
                <a class="btn btn-outline-primary mr-sm-2"  href="/profile"> {{ user.username }} </a>
                {% endif %}
            </form>
        </div>
        
        <!--  <div>
            <ul class="navbar-nav">

                {%if not user.activated %}
                    {% if user.type_user != 3 or user.type_user != 2 or user.type_user != 1 %}
                <li class="nav-item active">
                    <a class="nav-link" href="/login">Вход</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/registration">Регистрация</a>
                </li>
                    {% endif %}
                {% endif %}

            </ul>

        </div> -->
    </div>
</nav>