<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить оценку</title>
</head>
<body>
    <form method="POST">
        {%csrf_token%}
        <input type="text" name="mark" placeholder="Оценка 2-5">
        <input type="text" name="lesson_id" placeholder="id lesson">
        <input type="text" name="student_id" placeholder="id student">
        <input type="submit" value="Go!">
    </form>
</body>
</html>