<!DOCTYPE html>
<html lang="en">

<head>
    <title>Вход</title>
    {% include "includes/head_includes.html"%}
</head>

<body>

    <header>
        {% include "includes/navbar.html"%}
    </header>

<div class="wrapper">
    <div class="container">
        <div class="form-title">
            <hr>
            <h1>Расписание <span style="color:grey">{{grade.grade_number}}{{grade.grade_alpha}}</span></h1>
            <hr>
        </div>
        <div class="form-group">
            <h3>Понедельник</h3>
        </div>
        <table class="table">
            <tbody>
            <thead class="thead-dark">
            <tr>
                <th>Урок</th>
                <th>Время начала</th>
            </tr>
            </thead>
            {%for i in moday%}
            <tr>
                <td><span {%if i.faculty%} style="color:blue" {%endif%}>{{i.name}}</span></td>
                <td>{{i.print_time}}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        <div class="form-group">
            <h3>Вторник</h3>
        </div>
        <table class="table">
            <tbody>
            <thead class="thead-dark">
            <tr>
                <th>Урок</th>
                <th>Время начала</th>
            </tr>
            </thead>
            {%for i in tuday%}
            <tr>
                <td><span {%if i.faculty%} style="color:blue" {%endif%}>{{i.name}}</span></td>
                <td>{{i.print_time}}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        <div class="form-group">
            <h3>Среда</h3>
        </div>
        <table class="table">
            <tbody>
            <thead class="thead-dark">
            <tr>
                <th>Урок</th>
                <th>Время начала</th>
            </tr>
            </thead>
            {%for i in weday%}
            <tr>
                <td><span {%if i.faculty%} style="color:blue" {%endif%}>{{i.name}}</span></td>
                <td>{{i.print_time}}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        <div class="form-group">
            <h3>Четверг</h3>
        </div>
        <table class="table">
            <tbody>
            <thead class="thead-dark">
            <tr>
                <th>Урок</th>
                <th>Время начала</th>
            </tr>
            </thead>
            {%for i in thday%}
            <tr>
                <td><span {%if i.faculty%} style="color:blue" {%endif%}>{{i.name}}</span></td>
                <td>{{i.print_time}}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        <div class="form-group">
            <h3>Пятница</h3>
        </div>
        <table class="table">
            <tbody>
            <thead class="thead-dark">
            <tr>
                <th>Урок</th>
                <th>Время начала</th>
            </tr>
            </thead>
            {%for i in frday%}
            <tr>
                <td><span {%if i.faculty%} style="color:cyan" {%endif%}>{{i.name}}</span></td>
                <td>{{i.print_time}}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        <div class="form-group">
            <h3>Суббота</h3>
        </div>
        <table class="table">
            <tbody>
            <thead class="thead-dark">
            <tr>
                <th>Урок</th>
                <th>Время начала</th>
            </tr>
            </thead>
            {%for i in saday%}
            <tr>
                <td><span {%if i.faculty%} style="color:cyan" {%endif%}>{{i.name}}</span></td>
                <td>{{i.print_time}}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>
</div>
</body>

</html>