<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  {% include "includes/head_includes.html"%}
  <title>Оценки</title>
  <style>
    .tab-header-tr {
      height: 50px;
    }

    .tab-body-subject {
      padding-right: 5px;
      /*max-width: 20px;*/
    }

    .tab-header-day {
      width: 50px;
    }
  </style>
</head>

<body>

  <header>
    {% include "includes/navbar.html"%}
  </header>

  <section class="container">
    <div class="form-title">
      <hr>
      <h1>Успеваемость <span style="color:grey">{{grade.grade_number}}{{grade.grade_alpha}}</span></h1>
      <h2>{{subject.name}}</h2>
      <hr>
    </div>

    <div class="table-responsive">
      <table class="table table-bordered table-striped" >

        <thead class="thead-dark">
          <tr>
            <th class="th-width" style="width:100px;">ПРЕДМЕТЫ</th>
            {% for n in table_len %}
            <th class="tab-header-day" scope="col"></th>
            {% endfor %}
          </tr>
        </thead>

        <tbody>
          {% for lesson in lessons %}
          <tr>
            <th>{{ lesson.name }}</th>
            {% for mark in lesson.marks %}
            <td>{{mark}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

</body>

</html>