<!DOCTYPE html>
<html lang="en">
<head>
    <title>Информация о классе</title>
    {% include "includes/head_includes.html"%}
</head>

<body>
<header>
    {% include "includes/navbar.html"%}
  </header>
<div class="wrapper">

    <div class="container">
        <div class="form-title">
            <hr>
            <h1>Список класса <span style="color:grey">{{grade.grade_number}}{{grade.grade_alpha}}</span></h1>
            <hr>
        </div>
        {% if head %}
        <div class="form-group">
            <h3>Классный руководитель</h3>
        </div>
        <div class="table-responsive">
        <table class="table">
            <tbody>
            <thead class="thead-dark">
            <tr>
                <th>Логин</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Предмет</th>
                <th>Телефон</th>
                <th>Статус</th>
            </tr>
            </thead>
            <tr>
                <td><a href="{% url 'journal:foreigner_profile' head.id%}">{{head.username}}</a></td>
                <td>{{head.first_name}}</td>
                <td>{{head.last_name}}</td>
                <td>{{head.midname}}</td>
                <td>{{head.to_teach}}</td>
                <td>{{head.telephone}}</td>
                <td>{%if head.activated%} <span style="color:green">Активирован </span>{%else%}<span style="color:red"> Не активирован </span> {%endif%}</td>
            </tr>
            </tbody>
        </table>
        </div>
        <br>
        <br>
        {%endif%}
        {%if roster%}
        <h3>Ученики</h3>
        <div class="table-responsive">
        <table class="table">
            <tbody>
            <thead class="thead-dark">
            <tr>
                <th>Логин</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Телефон</th>
                <th>Статус</th>
            </tr>
            </thead>
            {%for i in roster%}
            <tr>
                <td><a href="{% url 'journal:foreigner_profile' i.id%}">{%if i.activated %}{{i.username}}{%else%}Нет логина{%endif%}</a></td>
                <td>{{i.first_name}}</td>
                <td>{{i.last_name}}</td>
                <td>{{i.midname}}</td>
                <td>{{i.telephone}}</td>
                <td>{%if i.activated%} <span style="color:green">Активирован </span>{%else%}<span style="color:red"> Не активирован </span>{%endif%}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        </div>
        {%endif%}
            <br>
    <br>
        <div class="form-title">
            <hr>
            <h1>Расписание <span style="color:grey">{{grade.grade_number}}{{grade.grade_alpha}}</span></h1>
            <hr>
        </div>
        <div class="form-group">
            <h3>Понедельник</h3>
        </div>
        <table class="table">
            <tbody>
            <thead class="thead-dark">
            <tr>
                <th style="width:50%">Урок</th>
                <th style="width:50%">Время начала</th>
            </tr>
            </thead>
            {%for i in moday%}
            <tr>
                <td><span {%if i.faculty%} style="color:blue" {%endif%}>{{i.name}}</span></td>
                <td>{{i.print_time}}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        <div class="form-group">
            <h3>Вторник</h3>
        </div>
        <table class="table">
            <tbody>
            <thead class="thead-dark">
            <tr>
                <th style="width:50%">Урок</th>
                <th style="width:50%">Время начала</th>
            </tr>
            </thead>
            {%for i in tuday%}
            <tr>
                <td><span {%if i.faculty%} style="color:blue" {%endif%}>{{i.name}}</span></td>
                <td>{{i.print_time}}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        <div class="form-group">
            <h3>Среда</h3>
        </div>
        <table class="table">
            <tbody>
            <thead class="thead-dark">
            <tr>
                <th style="width:50%">Урок</th>
                <th style="width:50%">Время начала</th>
            </tr>
            </thead>
            {%for i in weday%}
            <tr>
                <td><span {%if i.faculty%} style="color:blue" {%endif%}>{{i.name}}</span></td>
                <td>{{i.print_time}}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        <div class="form-group">
            <h3>Четверг</h3>
        </div>
        <table class="table">
            <tbody>
            <thead class="thead-dark">
            <tr>
                <th style="width:50%">Урок</th>
                <th style="width:50%">Время начала</th>
            </tr>
            </thead>
            {%for i in thday%}
            <tr>
                <td><span {%if i.faculty%} style="color:blue" {%endif%}>{{i.name}}</span></td>
                <td>{{i.print_time}}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        <div class="form-group">
            <h3>Пятница</h3>
        </div>
        <table class="table">
            <tbody>
            <thead class="thead-dark">
            <tr>
                <th style="width:50%">Урок</th>
                <th style="width:50%">Время начала</th>
            </tr>
            </thead>
            {%for i in frday%}
            <tr>
                <td><span {%if i.faculty%} style="color:cyan" {%endif%}>{{i.name}}</span></td>
                <td>{{i.print_time}}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
        <div class="form-group">
            <h3>Суббота</h3>
        </div>
        <table class="table">
            <tbody>
            <thead class="thead-dark">
            <tr>
                <th style="width:50%">Урок</th>
                <th style="width:50%">Время начала</th>
            </tr>
            </thead>
            {%for i in saday%}
            <tr>
                <td><span {%if i.faculty%} style="color:cyan" {%endif%}>{{i.name}}</span></td>
                <td>{{i.print_time}}</td>
            </tr>
            {%endfor%}
            </tbody>
        </table>
    </div>


</div>
</body>
</html>