<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UID</title>
    {% include "includes/head_includes.html"%}
</head>
<body>
<header>
        {% include "includes/navbar.html"%}
    </header>


    <div class="wrapper">
        <div class="container">
            <div class="form-title">
                <hr>
                <h1>Создать UID</h1>
                <hr>
            </div>

            <form method="POST">
            {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Имя" name="name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Фамилия" name="surname">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Отчество" name="mname">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Класс(номер)" name="grade_n">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Класс(буква)" name="grade_a">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Дата рождения ДД.ММ.ГГ" name="birthdate">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Роль" name="role" list="roles">
                    <datalist id='roles'>
                        <option value="Ученик"></option>
                        <option value="Учитель"></option>
                        <option value="Staff"></option>
                        <option value="Гость"></option>
                    </datalist>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Выполняет работу(Staff)" name="staff_role">
                </div>
            <input type="submit" value="Банан" name='enter' class="btn-primary btn btn-form">
            </form>
        </div>
    </div>






</body>
</html>