<!DOCTYPE html>
<html lang="en">

<head>

    <title>Главная</title>
    {% include "includes/head_includes.html"%}

</head>

<body>
    <header>
        {% include "includes/navbar.html"%}
    </header>

    <div class="wrapper">
        <div class="container">
            <div class="form-title">
                <hr>
                <h1>Главная</h1>
                <hr>
            </div>

            <p>Список школы: <a href="/school/roster">клац</a></p>
            <p>Войти: <a href="/login">клац</a></p>
            <p>Мой профиль: <a href="/profile">клац</a></p>
        </div>
    </div>

</body>

</html>