<!DOCTYPE html>
<html lang="en">
<head>
    <title>Вход</title>
    {% include "includes/head_includes.html"%}
</head>

<body>
    
    <header>
        {% include "includes/navbar.html"%}
    </header>

    <div class="wrapper">
    <div class="container">
        <div class="form-title">
            <hr>
            <h1>Вход</h1>
            <hr>
            <p>Войдите, чтобы просматривать все страницы сайта</p>
        </div>

        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label>Логин:</label>
                <input type="text" class="form-control" placeholder="Логин" name="username">
            </div>
            <div class="form-group">
                <label>Пароль:</label>
                <input type="password" class="form-control" placeholder="Пароль" name="password">
            </div>
            <input type="submit" value="Войти" name='enter' class="btn-primary btn btn-form">
            <br>
            <p color="red">{{ message }}</p>
        </form>
        <div class="form-title"><p>Или <a href="/registration">активировать аккаунт</a></p></div>
    </div>
    </div>
</body>
</html>