<!DOCTYPE html>
<html lang="en">

<head>
    <title>Расписание</title>
    {% include "includes/head_includes.html"%}

    <style>
        .th-width{
            width: 50%;
        }
    </style>
</head>

<body>

    <header>
        {% include "includes/navbar.html"%}
    </header>

    <div class="wrapper">
        <div class="container">
            <div class="form-title">
                <hr>
                <h1>{%if my_profile%}Мое расписание{%else%}Расписание <span style="color:grey">{{touser.first_name}}
                        {{touser.last_name}}{%endif%}</span></h1>
                <hr>
            </div>

            <div class="form-group">
                <h3>Понедельник</h3>
            </div>

            <table class="table">

                <thead class="thead-dark">
                    <tr>
                        <th class="th-width">Урок</th>
                        <th class="th-width">Время начала</th>
                    </tr>
                </thead>
                <tbody>
                    {%for i in moday%}
                    <tr>
                        <td><span {%if i.faculty%} style="color:blue" {%endif%}>{{i.name}}</span></td>
                        <td>{{i.print_time}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>

            <div class="form-group">
                <h3>Вторник</h3>
            </div>

            <table class="table">

                <thead class="thead-dark">
                    <tr>
                        <th class="th-width">Урок</th>
                        <th class="th-width">Время начала</th>
                    </tr>
                </thead>
                <tbody>
                    {%for i in tuday%}
                    <tr>
                        <td><span {%if i.faculty%} style="color:blue" {%endif%}>{{i.name}}</span></td>
                        <td>{{i.print_time}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <div class="form-group">
                <h3>Среда</h3>
            </div>
            <table class="table">

                <thead class="thead-dark">
                    <tr>
                        <th class="th-width">Урок</th>
                        <th class="th-width">Время начала</th>
                    </tr>
                </thead>
                <tbody>
                    {%for i in weday%}
                    <tr>
                        <td><span {%if i.faculty%} style="color:blue" {%endif%}>{{i.name}}</span></td>
                        <td>{{i.print_time}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <div class="form-group">
                <h3>Четверг</h3>
            </div>
            <table class="table">

                <thead class="thead-dark">
                    <tr>
                        <th class="th-width">Урок</th>
                        <th class="th-width">Время начала</th>
                    </tr>
                </thead>
                <tbody>
                    {%for i in thday%}
                    <tr>
                        <td><span {%if i.faculty%} style="color:blue" {%endif%}>{{i.name}}</span></td>
                        <td>{{i.print_time}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <div class="form-group">
                <h3>Пятница</h3>
            </div>
            <table class="table">

                <thead class="thead-dark">
                    <tr>
                        <th class="th-width">Урок</th>
                        <th class="th-width">Время начала</th>
                    </tr>
                </thead>
                <tbody>
                    {%for i in frday%}
                    <tr>
                        <td><span {%if i.faculty%} style="color:cyan" {%endif%}>{{i.name}}</span></td>
                        <td>{{i.print_time}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            <div class="form-group">
                <h3>Суббота</h3>
            </div>
            <table class="table">

                <thead class="thead-dark">
                    <tr>
                        <th class="th-width">Урок</th>
                        <th class="th-width">Время начала</th>
                    </tr>
                </thead>
                <tbody>
                    {%for i in saday%}
                    <tr>
                        <td><span {%if i.faculty%} style="color:cyan" {%endif%}>{{i.name}}</span></td>
                        <td>{{i.print_time}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
</body>

</html>