<!DOCTYPE html>
<html lang="en">
<head>

    <title>Редактирование профиля</title>
     {% include "includes/head_includes.html"%}
</head>

<body>
<header>
    {% include "includes/navbar.html"%}
  </header>
    <div class="wrapper">
        <div class="container">
            <div class="form-title">
                <hr>
                <h1>Редактирование профиля <span style="color:grey">{{user.first_name}} {{user.last_name}}</span></h1>
                <hr>
            </div>

            <form method="POST">
            {% csrf_token %}
                <div class="form-group">
                    <h5>Ваш номер телефона</h5>
                    <input type="tel" class="form-control" value="{{user.telephone}}" placeholder="Телефонный номер" name="telephone">
                    <p style="color:grey">Вводите, начиная с 8, без дополнительных знаков и разделителей</p>
                </div>
                <div class="form-group">
                    <h5>Ваш email</h5>
                    <input type="email" value="{{user.email}}" class="form-control" placeholder="Электронная почта" name="email">
                </div>
                {%if user.type_user == 3%}
                <div class="form-group">
                    <h5>Ваши компетенции</h5>
                    <input type="text" class="form-control" placeholder="Перечислите список ваших компетенций" name="staff_role">
                </div>
                {%endif%}
                <input type="submit" value="Сохранить изменения" name='enter' class="btn-primary btn btn-form">
                <a name='cancel' href="{% url 'journal:profile' %}" class="btn-danger btn btn-form" style="color:white">Отменить изменения</a>
            </form>
        </div>
    </div>






</body>
</html>