<!DOCTYPE html>
<html lang="en">
<head>
    <title>Профиль</title>
    {% include "includes/head_includes.html"%}
    <style>
        .user-section{
            margin-top: 50px;
        }
        .userdata{
            /*border: solid 1px black;
            padding: 3px 0;*/
            font-size: 1.1em;
            display: flex;
            
        }
        .userparam{
            display: inline-block;
            width: 40%;
        }
        .userparam-data{
            display: inline-block;
            width: 40%;
        }
    </style>
    {% include "includes/head_includes.html"%}
</head>

<body>
    
    <header>
        {% include "includes/navbar.html"%}
    </header>

    <div class="wrapper">
    <div class="container">
        <div class="form-title">
            <hr>
            {%if my_profile%}
            <h1>Мой профиль</h1>
            {%else%}
            <h1>Профиль <span style="color:grey">{{touser.first_name}} {{touser.last_name}}</span></h1>
            {%endif%}
            <hr>
            <p></p>
        </div>

    <section class="user-section">
        {%if touser.activated%}
        <div class="userdata"><div class="userparam">Логин: </div>          <div class="userparam-data">{{touser.username}}</div> </div>
        <p style="color:green">Профиль активирован</p>
        {%else%}
        <p style="color:red">Профиль не активирован</p>
        {%endif%}
        <hr >
        <div class="userdata"><div class="userparam">Имя: </div>            <div class="userparam-data"> {{touser.first_name}}</div></div>
        <hr>   
        <div class="userdata"><div class="userparam">Фамилия: </div>        <div class="userparam-data">{{touser.last_name}}</div> </div>
        <hr>
        <div class="userdata"><div class="userparam">Отчество: </div>       <div class="userparam-data">{{touser.midname}}</div> </div>
        <hr>
        <div class="userdata"><div class="userparam">Почта: </div>          <div class="userparam-data"> {{touser.email}}</div></div>
        <hr>
        <div class="userdata"><div class="userparam">Дата рождения: </div>  <div class="userparam-data"> {{touser.date_of_birth}}</div></div>
        <hr>
        <div class="userdata"><div class="userparam">Телефон: </div>        <div class="userparam-data"> {{touser.telephone}}</div></div>
        <hr>
        <div class="userdata"><div class="userparam">Должность: </div>      <div class="userparam-data">{{userrole}}</div> </div>
        <hr>
        <div class="userdata"><div class="userparam">Информация о родителях: </div>      <div class="userparam-data">{{touser.info_parents}}</div> </div>
        <hr>
        {% if touser.type_user == 1 %}
        <div class="userdata"><div class="userparam">Руководитель: </div>      <div class="userparam-data">{% autoescape off %}{{touser.show_self_grades}}{% endautoescape %}</div> </div>
        {%endif%}
        {%if my_profile%}
        <a name='edit' href="{% url 'journal:profile_edit' %}" class="btn-primary btn btn-form" style="color:white">Редактировать профиль</a>
        <br>
        <br>
        <form method="POST">
            {% csrf_token %}
        <input type="submit" value="Выйти" name='logout' class="btn-danger btn btn-form">
        </form>
        {%endif%}

        {% if touser.type_user == 2 %}
        <div class="userdata">Класс обучения:  <a href ="{% url 'journal:class_roster' touser.grade.grade_number touser.grade.grade_alpha%}" > {{user.grade.grade_number}}{{user.grade.grade_alpha}}</a></div>
        <a href="{% url 'journal:foreigner_marks' touser.id%}">Посмотреть успеваемость</a>
        {%endif%}
        <br>
        {%if my_profile%}
        <a href="{% url 'journal:my_schedule'%}">Показать расписание</a>
        {%else%}
        <a href="{% url 'journal:foreigner_schedule' touser.id%}">Показать расписание</a>
        {%endif%}
        {% if touser.type_user == 3 %}
        <div class="userdata">Выполняет работу: {{touser.staff_role}}</div>
        {%endif%}

    </section>

    </div>
    </div>
</body>
</html>