<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Регистрация</title>
    {% include "includes/head_includes.html"%}
</head>

<body>

    <header>
        {% include "includes/navbar.html"%}
    </header>

    <div class="wrapper">
        <div class="container">
            <div class="form-title">
                <hr>
                <h1>Активация профиля</h1>
                <hr>
            </div>

            <form method="POST">
                {% csrf_token %}
                <p>{{ cname.username }}</p>
                <div class="form-group">
                    <label>Ваш UID:</label>
                    <input type="text" class="form-control" placeholder="UID" name="uid_field">
                </div>
                <div class="form-group">
                    <label>Придумайте логин:</label>
                    <input type="text" class="form-control" placeholder="Логин" name="username_field">
                </div>
                <div class="form-group">
                    <label>Придумайте пароль:</label>
                    <input type="password" class="form-control" placeholder="Пароль" name="password1_field">
                </div>
                <div class="form-group">
                    <label>Пароль:</label>
                    <input type="password" class="form-control" placeholder="Проверка пароля" name="password2_field">
                </div>


                <input type="submit" value="Активировать" class="btn-primary btn btn-form">
                <br>
                <p color="red">{{ message }}</p>
            </form>



        </div>
</body>

</html>