<!DOCTYPE html>
<html lang="en">

<head>
    <title>Список школы</title>
    {% include "includes/head_includes.html"%}
</head>

<body>

    <header>
        {% include "includes/navbar.html"%}
    </header>

    <div class="wrapper">
        <div class="container">
            <div class="form-title">
                <hr>
                <h1>Список школы</h1>
                <hr>
            </div>
            <div class="form-group">
                <h3>Учителя</h3>
            </div>
            <div class="table-responsive">
            <table class="table">
                <tbody>
                    <thead class="thead-dark">
                        <tr>
                            <th>Логин</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Отчество</th>
                            <th>Предмет</th>
                            <th>Телефон</th>
                            <th>К.рук</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    {%for i in teachers%}
                    <tr>
                        <td><a href="{% url 'journal:foreigner_profile' i.id%}">{%if i.activated %}{{i.username}}{%else%}Нет
                                логина{%endif%}</a></td>
                        <td>{{i.first_name}}</td>
                        <td>{{i.last_name}}</td>
                        <td>{{i.midname}}</td>
                        <td>{{i.to_teach}}</td>
                        <td>{{i.telephone}}</td>
                        <td>{% autoescape off %}{{i.show_self_grades}}{%endautoescape%}</td>
                        <td>{%if i.activated%} <span style="color:green">Активирован </span>{%else%}<span
                                style="color:red"> Не активирован </span>{%endif%}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            </div>
            <br>
            <br>
            <h3>Ученики</h3>
            <div class="table-responsive">
            <table class="table">
                <tbody>
                    <thead class="thead-dark">
                        <tr>
                            <th>Логин</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Отчество</th>
                            <th>Класс</th>
                            <th>Телефон</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    {%for i in students%}
                    <tr>
                        <td><a href="{% url 'journal:foreigner_profile' i.id%}">{%if i.activated %}{{i.username}}{%else%}Нет
                                логина{%endif%}</a></td>
                        <td>{{i.first_name}}</td>
                        <td>{{i.last_name}}</td>
                        <td>{{i.midname}}</td>
                        <td><a
                                href="{% url 'journal:class_info' i.grade.grade_number i.grade.grade_alpha%}">{{i.grade.grade_number}}{{i.grade.grade_alpha}}</a>
                        </td>
                        <td>{{i.telephone}}</td>
                        <td>{%if i.activated%} <span style="color:green">Активирован </span>{%else%}<span
                                style="color:red"> Не активирован </span>{%endif%}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            </div>
            <br>
            <br>
            <h3>Стафф</h3>
            <div class="table-responsive">
            <table class="table">
                <tbody>
                    <thead class="thead-dark">
                        <tr>
                            <th>Логин</th>
                            <th>Имя</th>
                            <th>Фамилия</th>
                            <th>Отчество</th>
                            <th>Должность</th>
                            <th>Телефон</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    {%for i in staff%}
                    <tr>
                        <td><a href="{% url 'journal:foreigner_profile' i.id%}">{%if i.activated %}{{i.username}}{%else%}Нет
                                логина{%endif%}</a></td>
                        <td>{{i.first_name}}</td>
                        <td>{{i.last_name}}</td>
                        <td>{{i.midname}}</td>
                        <td>{{i.staff_role}}</td>
                        <td>{{i.telephone}}</td>
                        <td>{%if i.activated%} <span style="color:green">Активирован </span>{%else%}<span
                                style="color:red"> Не активирован </span>{%endif%}</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
            </div>
        </div>

    </div>
</body>

</html>